main {
    border: 2px solid green;
    height: 500px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed purple;
    width: 500px;
    margin: auto;
}
.flex-container > div {
    padding: 30px;
    font-size: 30px;
    color:blue;
    background-color:pink;
    border: 1px solid red;
    margin: 20px;
}